.NavigationItems {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column;
    list-style: none;
    align-items: center;
    height: 100%;
}
@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}